<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
        <meta charset="UTF-8"/>
        <head>
        <title>Admin Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap core CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js">
            </script>
        <style>
            #menu > .nav > .nav-item {
                padding-left: 0;
                padding-bottom: 0;
            }
            #menu > .nav > .nav-item > .nav-link {
                padding-left: 2rem;
            }
            #menu > .nav > .active {
                background: #519ed4;
                color: white;
            }
            #menu > .nav > .active > .nav-link {
                color: white;
            }
            #menu > .nav > .nav-item:hover {
                background: darkgray;
            }
            #menu > .nav > .nav-item:hover > .nav-link {
                color: white;
            }
            .table>thead>tr>th{
                border-top: 0;
            }
        </style>
    </head>
    <body class="bg-light"><!--bg-light это слабосветлый (почти белый) цвет фона-->
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow"><!--навигационная панель-->
        <!--navbar-dark - тёмная тема навбара, fixed-top - фиксирование сверху-->
        <!--bg-dark - чёрный вариант тёмной темы-->
        <!--flex[флекс-элемент]-md[Medium-устройство(ширина 720px)]-nowrap[не переносить на другую строку]-->
        <!--p-0 - p-0{padding:0!important}//нулевой отсутп-->
        <!--shadow - затемнение-->
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Spring Boot Project</a>
        <!--navbar-brand{display:inline-block;padding-top:.3125rem;padding-bottom:.3125rem;margin-right:1rem;font-size:1.25rem;line-height:inherit;white-space:nowrap}-->
        <!--субкомпонент .navbar-brand предназначен для названия вашей компании, продукта или имени проекта-->
        <!--col-sm-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}-->
        <!--col-md-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}-->
        <!--mr-0,.mx-0{margin-right:0!important}-->
        <ul class="navbar-nav px-3"><!--ul - список-->
            <!--нави элемент:.navbar-nav{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none}-->
            <!--.px-3{padding-right:1rem!important}-->
            <li class="nav-item text-nowrap"><!--пункт списка-->
                <!--nav-item - пункт навбара-->
                <!--.text-nowrap{white-space:nowrap!important}-->
                <form method="post" th:action="@{/logout}">
                    <button class="btn btn-outline-dark border-0 rounded-0 text-white-50">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row w-100">
            <div id="menu" class="col-md-2 col-sm-3 vh-100 bg-white pl-0 pr-0">
                <ul id="left-bar" class="nav flex-column pt-5 w-100">
                    <li class="nav-item active">
                        <a class="nav-link"  href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user">User</a>
                    </li>
                </ul>
            </div>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 pt-5">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Admin panel</h1>
                </div>
                <div class="container-fluid">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#userTable" data-toggle="tab" role="tab"
                               aria-controls="userTable" aria-selected="true">User Table</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#newUser" data-toggle="tab">New User</a></li>
                    </ul>
                    <div class="tab-content border rounded">
                        <div role="tabpanel" class="tab-pane show active" id="userTable">
                            <div class="bg-light rounded pt-1 pb-1 "><b class="ml-4">Admin panel</b></div>
                            <div class="table-responsive pl-3 pr-3 bg-white border-top-0">
                                <table class="table table-striped pt-5">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Role</th>
                                        <th>Login</th>
                                        <th>Password</th>
                                        <th>Email</th>
                                        <th>Edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <div th:each="user,iter : ${users}">
                                        <tr>
                                            <td><span th:utext="${user.id}"></span></td>
                                            <td th:each="role : ${user.roles}"><span th:text="${role.role}"></span></td>
                                            <td th:value="${user.name}"><span th:text="${user.name}"></span></td>
                                            <td th:value="${user.password}"><span th:text="${user.password}"></span></td>
                                            <td th:value="${user.email}"><span th:text="${user.email}"></span></td>
                                            <td>
                                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                                        th:attr="data-target='#userId-' + ${iter.index}">
                                                    Edit
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" th:attr="id='userId-'+${iter.index}" tabindex="-1"
                                                     role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content justify-content-center">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Modal title</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form action="#" th:action="@{/admin}" th:object="${tempUser}"
                                                                  method="post">
                                                                <div class="modal-body">
                                                                    <div class="container">
                                                                        <div class="row justify-content-center">
                                                                            <div class="col-5 text-center">
                                                                                <span>ID</span>
                                                                                <input class="form-control" type="text"
                                                                                       th:name="id"
                                                                                       th:value="${user.id}"
                                                                                       readonly>
                                                                                <span>Email</span>
                                                                                <input class="form-control" type="text"
                                                                                       th:name="email"
                                                                                       th:value="${user.email}">
                                                                                <span>Login</span>
                                                                                <input class="form-control" type="text"
                                                                                       th:name="name"
                                                                                       th:value="${user.name}">
                                                                                <span>Password</span>
                                                                                <input class="form-control" type="text"
                                                                                       th:name="password"
                                                                                       th:value="${user.password}">
                                                                                <select th:name="role" th:value="${user.roles[0].role}">
                                                                                    <option>ROLE_USER</option>
                                                                                    <option>ROLE_ADMIN</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Закрыть
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary">Edit
                                                                        user
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="newUser">
                            <div class="bg-light rounded pt-1 pb-1 border-top-1"><b class="ml-4">Add new user</b></div>
                            <div class="container bg-white">
                                <div class="row justify-content-center">
                                    <div class="col-5 text-center pt-4">
                                        <form th:action="@{/admin/addUser}" method="post" th:object="${tempUser}">
                                            <span>Email</span>
                                            <input class="form-control" th:name="email" placeholder="Enter email">
                                            <span>Login</span>
                                            <input class="form-control" th:name="name" placeholder="Login">
                                            <span>Password</span>
                                            <input class="form-control" th:name="password" placeholder="Password">
                                            <select th:name="role">
                                                <option selected="selected">Выберите роль</option>
                                                <option>ROLE_USER</option>
                                                <option>ROLE_ADMIN</option>
                                            </select>
                                            <div class="pt-3 pb-3">
                                                <button type="submit" class="btn btn-success">Add new user</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    </body>
</html>