<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create_User</title>
</head>
<body>
<div>
    <a href="/admin">Admin_Menu</a>
</div>
<div>
    <form action="/createuser" method="post">
        <p><small>Role selection</small>
            <select name="role">
                <option selected="selected" value="ROLE_USER">ROLE_USER</option>
                <option value="ROLE_ADMIN">ROLE_ADMIN</option>
            </select></p>
        <p><small>Name</small>
            <input type="text" name="name" value="" size="5" />
        </p>
        <p><small>Password</small>
            <input type="text" name="password" value="" size="5" />
        </p>
        <input type="submit" name="ButtonName" value="Create_User"/>
    </form>
</div>
</body>
</html>