<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Admin Page</title>
        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link href="/css/sigin.css" rel="stylesheet"/>
    </head>
    <body class="text-center">
    <form class="form-signin" th:action="@{/index}" method="post">
        <img class="mb-4" src="https://bootstrap-4.ru/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"/>
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">User name</label>
        <input type="text" name="username" id="username" class="form-control input-lg"
               placeholder="UserName"
        />
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password"
               class="form-control input-lg"
               placeholder="Password" required="true"/>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"/> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
    </body>
</html>