<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<meta charset="UTF-8"/>
<head>
    <title>Admin Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js">
    </script>
    <script type="text/javascript">
        async function add_user() {
            let email = document.getElementById('add_email').value;
            let login = document.getElementById('add_login').value;
            let password = document.getElementById('add_password').value;
            let role = document.getElementById('add_role').value;
            alert("email:1::"+email);
            setTimeout(() => { console.log("World!"); alert("world#1"); }, 10000);
            setTimeout(() => { console.log("World!"); alert("world#2"); }, 10000);
            setTimeout(() => { console.log("World!"); alert("world#3"); }, 10000);
            let response = await fetch('http://localhost:8080/api/addUser',{
                method: 'POST',
                body: JSON.stringify({
                    name: login,
                    email: email,
                    roles: [
                        {
                            "role": role,
                            "authority": role,
                            "userRoleId": getIdByRole(role)
                        }
                    ],
                    password: password
                }),
                headers: {
                    "Content-Type": "application/json; charset=utf-8"
                }
            });
            alert("email:2::"+email);
        }
        function getIdByRole(role) {
            if (role == "ROLE_ADMIN") {
                return 1;
            } else {
                return 2;
            }
        }
        async function getUsers() {
            let response = await fetch('http://localhost:8080/api/getUsers');
            let content = await response.json();
            await console.log('users:::');
            await console.log(content);
            await console.log(':::users');
            let list = await document.getElementById('elemGetUsers');
            let key;
            //list._clear();
            for(key in content) {
                let tr = document.createElement('tr');
                tr.id = `tr_id#${content[key].id}`;
                //tr.setAttribute("id","tr_id#${content[key].id}");
                tr.innerHTML = `
                        <td id="edit_id#${content[key].id}"><span>${content[key].id}</span></td>
                <td id="edit_role#${content[key].id}"><span>${content[key].role}</span></td>
                <td id="edit_name#${content[key].id}"><span>${content[key].name}</span></td>
                <td id="edit_password#${content[key].id}"><span>${content[key].password}</span></td>
                <td id="edit_email#${content[key].id}"><span>${content[key].email}</span></td>
                <td>
                                            <button type="button"
                                            onclick="form_edit(${content[key].id})"
                                            class="btn btn-info btn-sm" data-toggle="modal" data-target="#userId" value="${content[key].id}">${content[key].id}</button>
                </td>
                <td>
                                            <button type="button" onclick="delete_user(${content[key].id})" class="btn btn-info btn-sm">${content[key].id}</button>
                </td>
                                            `
                ;
                list.append(tr);
            }
        }
        async function form_edit(id/*,role,name,password,email*/) {//,${content[key].role},${content[key].name},${content[key].password},${content[key].email}
            await console.log('form_edit_BEGIN');
            let response = await fetch('http://localhost:8080/api/openModalById/'+id);
            let user = await response.json();
            await console.log(user);
            formEdit(user.id,user.role,user.name,user.password,user.email);
            await console.log('form_edit_END');
        }
        function formEdit(id,role,name,password,email) {
            document.getElementById('formEdit_id').value = id;
            document.getElementById('formEdit_role').value = role;
            document.getElementById('formEdit_name').value = name;
            document.getElementById('formEdit_password').value = password;
            document.getElementById('formEdit_email').value = email;
        }
        async function edit_user() {
            await console.log('EDIT_USER');
            let idd = await document.getElementById('formEdit_id').value;
            let email = await document.getElementById('formEdit_email').value;
            let name = await document.getElementById('formEdit_name').value;
            let password = await document.getElementById('formEdit_password').value;
            let role = await document.getElementById('formEdit_role').value;
            let response = await fetch('http://localhost:8080/api/editUser',{
                method: 'POST',
                body: JSON.stringify({
                    id: idd,
                    name: name,
                    email: email,
                    roles: [
                        {
                            "role": role,
                            "authority": role,
                            "userRoleId": getIdByRole(role)
                        }
                    ],
                    password: password
                }),
                headers: {
                    "Content-Type": "application/json; charset=utf-8"
                }
            });
        }
        async function delete_user(id) {
            await console.log('DELETE_USER');
            let response = await fetch('http://localhost:8080/api/deleteById/'+id, {method: 'POST'});
            let str = await document.getElementById('tr_id#'+id);
            await str.remove();
        }
        getUsers()
    </script>
    <style>
        #menu > .nav > .nav-item {
            padding-left: 0;
            padding-bottom: 0;
        }
        #menu > .nav > .nav-item > .nav-link {
            padding-left: 2rem;
        }
        #menu > .nav > .active {
            background: #519ed4;
            color: white;
        }
        #menu > .nav > .active > .nav-link {
            color: white;
        }
        #menu > .nav > .nav-item:hover {
            background: darkgray;
        }
        #menu > .nav > .nav-item:hover > .nav-link {
            color: white;
        }
        .table>thead>tr>th{
            border-top: 0;
        }
    </style>
</head>
<body class="bg-light">
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Spring Boot Project</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <form method="post" th:action="@{/logout}">
                <button class="btn btn-outline-dark border-0 rounded-0 text-white-50">Logout</button>
            </form>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row w-100">
        <div id="menu" class="col-md-2 col-sm-3 vh-100 bg-white pl-0 pr-0">
            <ul id="left-bar" class="nav flex-column pt-5 w-100">
                <li class="nav-item active">
                    <a class="nav-link"  href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
        </div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 pt-5">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Admin panel</h1>
            </div>
            <div class="container-fluid">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#userTable" data-toggle="tab" role="tab"
                           aria-controls="userTable" aria-selected="true">User Table</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#newUser" data-toggle="tab">New User</a></li>
                </ul>
                <div class="tab-content border rounded">
                    <div role="tabpanel" class="tab-pane show active" id="userTable">
                        <div class="bg-light rounded pt-1 pb-1 "><b id="ad_pan" class="ml-4">Admin panel</b></div>
                        <div class="table-responsive pl-3 pr-3 bg-white border-top-0">
                            <table class="table table-striped pt-5">
                                <thead>
                                <tr>
                                    <th id="id_id">Id</th>
                                    <th>Role</th>
                                    <th>Login</th>
                                    <th>Password</th>
                                    <th>Email</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="elemGetUsers">
                                </tbody>
                                <div>
                                    <!-- Modal// -->
                                    <div class="modal fade" id="userId" tabindex="-1"
                                         role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content justify-content-center">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Modal title</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form name="param" action="#">
                                                    <div class="modal-body">
                                                        <div class="container">
                                                            <div class="row justify-content-center">
                                                                <div class="col-5 text-center">
                                                                    <span>ID</span>
                                                                    <input class="form-control" type="text" name="form_edit_id" id="formEdit_id"
                                                                           readonly>
                                                                    <span>Email</span>
                                                                    <input class="form-control" type="text" name="form_edit_email" id="formEdit_email">
                                                                    <span>Login</span>
                                                                    <input class="form-control" type="text" name="form_edit_name" id="formEdit_name">
                                                                    <span>Password</span>
                                                                    <input class="form-control" type="text" name="form_edit_password" id="formEdit_password">
                                                                    <select name="form_edit_role" id="formEdit_role">
                                                                        <option>ROLE_USER</option>
                                                                        <option>ROLE_ADMIN</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Закрыть
                                                        </button>
                                                        <button onclick="edit_user()" type="submit" class="btn btn-primary">Edit
                                                            user
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- //Modal -->
                                </div>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="newUser">
                        <div class="bg-light rounded pt-1 pb-1 border-top-1"><b class="ml-4">Add new user</b></div>
                        <div class="container bg-white">
                            <div class="row justify-content-center">
                                <div class="col-5 text-center pt-4">
                                    <form th:object="${tempUser}">
                                        <span>Email</span>
                                        <input class="form-control" id="add_email" th:name="email" placeholder="Enter email">
                                        <span>Login</span>
                                        <input class="form-control" id="add_login" th:name="name" placeholder="Login">
                                        <span>Password</span>
                                        <input class="form-control" id="add_password" th:name="password" placeholder="Password">
                                        <select th:name="role" id="add_role">
                                            <option selected="selected">Выберите роль</option>
                                            <option>ROLE_USER</option>
                                            <option>ROLE_ADMIN</option>
                                        </select>
                                        <div class="pt-3 pb-3">
                                            <button type="submit" onclick="add_user()" class="btn btn-success">Add new user</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>